* {
	font-family: 'Open Sans';
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: black;
  height: 60px;
}
.primary-header-right {
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  height: 35px;
}
.primary-header {
  display: flex;
  align-items: center;
}
.primary-header a {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.myarrow {
  padding: 14px 14px;
  margin: 10px;
}
.arrow {
  color: white;
  transition: all 0.3s ease;
}

.myarrow:hover .r-arrow {
  transform: rotate(180deg);
}
.secondary-header-dropdown:hover .r-arrow {
  transform: rotate(180deg);
}

.search {
  justify-content: flex-end;
  height: 35px;
  background-color: black;
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  border: 1px solid black;
}
.search-btn {
  font-size: 20px;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
.search-txt {
  width: 0;
  font-size: 15px;
  border: none;
  outline: none;
  background: transparent;
  transition: 1s;
}
::placeholder {
  color: white;
}

.hide {
  display: none;
}
.active {
  background: black;
  border: 1px solid white;
  position: absolute;
  top: 15px;
}
.active .search-btn {
  float: right;
}
.active .search-txt {
  width: 350px;
  padding: 0 20px;
  color: white;
}

.logo img {
  width: 100%;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.secondary-header {
  background-color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border-bottom: 1px solid #292929;
}
.secondary-header a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
}
.enterprise a {
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
}

.secondary-header-dropdown {
  padding: 15px 20px 9px 20px;
  margin: 10px;
}

.drop-content a {
  cursor: pointer;
  float: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-content {
  display: none;
  position: absolute;
  background-color: #434343 !important;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -8px !important;
}
.dropdown:hover .myarrow,
.dropdown:hover .drop-content {
  background-color: #80808043;
  display: block;
}

.dropdown:hover .myarrow{
  border: 2px solid white;
}

.myarrow a{
  font-size: 12px !important;
}

.drop-content a:hover {
  background-color: #2e86c1;
}
/* drop down region */
.dropdown .region {
  position: relative;
}
.region {
  margin-right: 30px;
}
.region-content {
  display: none;
  font-family: "Quicksand", sans-serif;
  color: white;
  position: absolute;
  right: 0;
  background-color: #434343;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: -34% !important;
  margin-top: -8px !important;
}
.line {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid white;
}
.region-content h3 {
  font-size: 25px;
  padding-left: 20px;
}
.content {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.content li {
  list-style: none;
  text-align: center;
  padding: 10px 0px 10px 0;
}
.content li:hover {
  background-color: #2e86c1;
}

.content ul {
  padding: 0;
}
.content > div {
  width: 235px;
  margin: 10px;
}
.dropdown:hover .region-content {
  display: block;
}

.secondary-header-dropdown:hover {
  background-color: #424242;
  display: block;
  border-bottom: 5px solid rgb(0, 74, 106);
  border-top: 7px solid #424242;
}

.dropdown .secondary-header-dropdown {
  position: relative;
}
.service-content.service-header {
  display: none;
}
.service-content {
  color: white;
  position: absolute;
  left: -138%;
  background-color: #323232;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  width: 500%;
  margin-top: -8px;
}
.service-content {
  display: flex;
  justify-content: space-evenly;
}
.service-ff {
  flex: 50%;
}
.service-ff h3 {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.service-content li {
  list-style: none;
  font-size: 12px;
}
.platform-content {
  background-color: #000000;
  height: 240px;
  margin: 20px;
}
.platform-content span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.platform-content li {
  padding-bottom: 20px;
  font-size: 12px !important;
}
.platform-content ul {
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 12px !important;
}

.dropdown:hover .service-content.service-header {
  display: flex;
}

.solution-content.cc {
  display: none;
}
.solution-content {
  font-family: "Quicksand", sans-serif;
  color: white;
  position: absolute;
  left: 0;
  background-color: #525252;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.solution-content {
  display: flex;
  margin-top: -8px !important;
}
.solution-content {
  display: flex;
  padding: 20px;
  line-height: 1.5;
}
.solution{
  min-width: 300px;
  background-color: #000000;
  margin: 10px;
}
.solution ul{
  padding-left: 20px;
}
.solution li{
  list-style: none;
}
.solution span{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown:hover .solution-content.cc {
  display: flex;
}

.hero {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  height: 83vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.overlay {
  background-color: black;
  opacity: 0.6;
  height: 83vh;
  width: 50%;
  float: left;
}
.hero-content {
  position: relative;
  display: flex;
  align-items: center;
}
.hero-text {
  position: absolute;
  transform: translate(50%, 0%);
  color: white;
  overflow: hidden;
  margin-left: -20%;
}
.hero-text h2 {
  font-size: 50px;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: white;
}
.contact-us-btn{
  background-color: #2e86c1;
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  width: 25%;
}
.hero-text h5 {
  width: 60%;
  font-size: 25px;
  color: white;
}
